.inset-pages .logo {
  float: left;
  padding-top: 24px;
  padding-right: 10px;
}


.inset-pages .menu-fixed .logo {
  padding-top: 10px;
}

.dev-first-slide {
  padding-top: 0;
  padding-bottom: 0;
}

.develop {
  background-image: url(../img/develop@2x.jpg);
}

.mobile-head {
  background-image: url(../img/mobile-head@2x.jpg);
}

.mini-web {
  background-image: url(../services-files/87/mini-programs.jpg);
}

.baidu-head {
  background-image: url(../img/baidu-head@2x.jpg);
}

.consalting-head {
  background-image: url(../services-files/77/consalting-cover.jpg);
}

.douyin-head {
  background-image: url(../services-files/78/douyn-cover.png);
}

.soc-head {
  background-image: url(../img/soc-head@2x.jpg);
}

.tur-head {
  background-image: url(../img/tur-head@2x.jpg);
}

.atl-head {
  background-image: url(../img/atl-head@2x.jpg);
}

.artist-head {
  background-image: url(../img/artist-head@2x.jpg);
}

.star-head {
  background-image: url(../img/star-head@2x.jpg);
}

.wechat-head {
  background-image: url(../img/we-chat-head@2x.jpg);
}

.ico-head {
  background-image: url(../img/ICO-head.png);
}

.weibo-head {
  background-image: url(../img/weibo-head@2x.jpg);
}

.exhibition {
  background-image: url(../img/exhibition.jpg);
}


.little-red-book-cover {
  background-image: url(../img/little-red-book-cover.jpg);
}

.translate-cover {
  background-image: url(../services-files/76/translate-cover.jpg);

}

.services-cover {
  background-image: url(../img/servises-cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 60px;
}

.tao-bao-cover {
  background-image: url(../img/tao-bao-cover.jpg);
}

.icp-head {
  background-image: url(../img/icp-head@2x.jpg);
}

.hosting-head {
  background-image: url(../img/hosting-china.jpg);
}

.enileev {
  background-image: url(../potfolio-files/58/cover-head.jpg);
  background-size: cover;
}


.banner-neva-pallet {
  background-image: url(../potfolio-files/84/neva-cover.jpg);
  background-size: cover;
}

.banner-smoll-pass {
  background-image: url(../potfolio-files/85/smoll-pass-cover.jpg);
  background-size: cover;
}

.flower-cover {
  background-image: url(../potfolio-files/89/flovera-cover.jpg);
  background-size: cover;
}


.skydrive {
  background-image: url(../potfolio-files/100/cover-main.jpg);
  background-size: cover;
}

#skydrive {
  background: #fff url(../potfolio-files/100/cover-little.jpg) no-repeat center center;
  background-size: cover;
}


.export-energy {
  background-image: url(../potfolio-files/101/cover-main.jpg);
  background-size: cover;
}


.artlife {
  background-image: url(../potfolio-files/149/artlife-cover.jpg);
  background-size: cover;
}

.sveza {
  background-image: url(../potfolio-files/206/sveza-walpher.jpeg);
  background-size: cover;
}

.cdek-bg {
  background-image: url(../potfolio-files/244/cdek.webp);
  background-size: cover;
}

.synthesit-bg {
  background-image: url(../potfolio-files/243/synthesit.webp);
  background-size: cover;
}

#export-energy {
  background: #fff url(../potfolio-files/101/cover-mini.jpg) no-repeat center center;
  background-size: cover;
}

.big-creative-company-cover {
  background-image: url(../potfolio-files/93/big-creative-company-cover.jpg);
  background-size: cover;
  background-position: center;
}

.n-g-c-cover {
  background-image: url(../potfolio-files/94/n-g-c-cover.jpg);
  background-size: cover;
  background-position: center;
}

.chief-cover {
  background-image: url(../potfolio-files/90/chief-cover.jpg);
  background-size: cover;
}


.villashomes-cover {
  background-image: url(../potfolio-files/91/villashomes-cover.jpg);
  background-size: cover;
}


.hotpot-cover {
  background-image: url(../potfolio-files/92/hot-pot-cover.jpg);
  background-size: cover;
}

.banner-ilgiz {
  background-image: url(../potfolio-files/86/ilgiz-cover.jpg);
  background-size: cover;
}


#enileev {
  background: #fff url("../potfolio-files/58/cover.jpg") no-repeat center center;
  background-size: cover;

}

#urgu {
  background: #fff url("../potfolio-files/150/urgu.jpg") no-repeat center center;
  background-size: cover;

}

#mira {
  background: #fff url("../potfolio-files/151/mira.jpg") no-repeat center center;
  background-size: cover;

}

#olympic-games {
  background: #fff url("../img/olimpiada-prev.jpg") no-repeat center center;
  background-size: cover;
}

#mira {
  background: #fff url("../potfolio-files/151/mira.jpg") no-repeat center center;
  background-size: cover;

}

#tels {
  background: #fff url("../potfolio-files/covers/tels.jpg") no-repeat center center;
  background-size: cover;

}

#immc {
  background: #fff url("../potfolio-files/covers/immc.jpg") no-repeat center center;
  background-size: cover;

}

#enaza {
  background: #000 url("../img/enaza.jpg") no-repeat center center;
  background-size: cover;

}

#avangard-travel {
  background: #000 url("../img/avangard-travel.jpeg") no-repeat center center;
  background-size: cover;

}

#caviar {
  background: #000 url("../img/caviar-logo.jpeg") no-repeat center center;
  background-size: cover;
}

#rus-crab {
  background: #000 url("../img/rus-crab.jpeg") no-repeat center center;
  background-size: cover;
}

#iconscin {
  background: #000 url("../img/iconscin.png") no-repeat center center;
  background-size: cover;
}

#sveza {
  background: #000 url("../img/sveza.png") no-repeat center center;
  background-size: cover;
}

#synthesit {
  background: #000 url("../img/synthesit.png") no-repeat center center;
  background-size: cover;
}

#cdek {
  background: #000 url("../img/cdek.png") no-repeat center center;
  background-size: cover;
}

#dashi {
  background: #fff url("../potfolio-files/covers/DASHI-prt.jpg") no-repeat center center;
  background-size: cover;

}

#flovera {
  background: #fff url("../potfolio-files/covers/flovera-prt.jpg") no-repeat center center;
  background-size: cover;

}

.zimnyaya-olimpiada {
  background-image: url(../img/olimpiada-wallper.jpg);
  background-size: cover;
}

.dev-first-slide.inset-white {
  background-repeat: no-repeat;
  background-size: 1352px auto;
  background-position: center;
}

.dev-first-slide.default-bg {
  background: #3D3C3B url(../img/dev-main-image.jpg);
  background-size: cover;
}


.dev-first-slide .slide-three .container {
  height: 100%;
  position: relative;
}

.anchor-links {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 0px;
}


.anchor-links a {
  background: url(../img/red-oval.svg) no-repeat left center;
  padding-left: 20px;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 30px;
}

.dev-second-slide#section2 {
  padding-top: 50px;
}

.dev-second-slide .text-fourth-slide p {
  font-size: 18px;
  color: $gray5;
}

.dev-second-slide .first-icon-line p {
  text-transform: uppercase;
  color: $gray3;
}

.icon-first-slide-d2 {
  background: url(../img/copyright.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.icon-first-slide-d3 {
  background: url(../img/open-book.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.icon-first-slide-d4 {
  background: url(../img/random.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.dev-second-slide .under-first-slide-text {
  color: $gray5;
  font-size: 18px;
}


.warning p {
  background: url(../img/warning.svg) no-repeat left 15px;
  padding: 20px 0px 10px 54px;
  margin-bottom: 0px;
  min-height: 50px;
  background-size: 38px;
}

.img-steps-block {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.img-steps-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


.icon-first-slide-d5 {
  background: url(../img/cn.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.icon-first-slide-d6 {
  background: url(../img/hosting.svg) no-repeat center;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.icon-first-slide-d7 {
  background: url(../img/contract.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.icon-first-slide-d8 {
  background: url(../img/hosting-data.svg) no-repeat center;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.white-color .first-icon-line p {
  font-size: 18px;
}

.dotted-white-list {
  margin: 0;
  padding-left: 0;
  margin-bottom: 40px;
  margin-top: 10px;
}

.dotted-white-list li {
  list-style: none;
  font-size: 20px;
  color: $white;
  padding-bottom: 5px;
  padding-top: 5px;
  background: url("../img/white-oval.svg") no-repeat left center;
  padding-left: 25px;
}

.inset-pages #section5 {
  padding-top: 60px;
  padding-bottom: 80px;
}

.phone-block-animate {
  background: url("../img/phones-art.png") no-repeat left center;
  background-size: 100% auto;
  height: 1482px;
  width: 791px;
  position: absolute;
  right: 0px;
  top: 40%;
  z-index: 100;
}

.section .our-case {
  max-width: inherit;
}

.say-about-project {
  border: 1px solid $red;
  border-radius: 13px;
  padding: 20px 100px 20px 20px;
}

.say-about-project a {
  color: $gray3;
  position: relative;
  display: block;
}

.say-about-project a span {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  border: 1px solid $red;
  border-radius: 50%;
  top: 2px;
  right: -70px;
  background: url("../img/black-arrow.svg") no-repeat 13px center;
  animation: animation-arrow-back 1s;
}


.say-about-project a:hover span {
  animation: animation-arrow 1s;
}


@keyframes animation-arrow {
  0% {
    background-position: 13px center;
  }
  50% {
    background-position: 50px center;
  }
  51% {
    background-position: -50px center;
  }
  100% {
    background-position: 13px center;
  }
}

@keyframes animation-arrow-back {
  0% {
    background-position: 13px center;
  }
  50% {
    background-position: -50px center;
  }
  51% {
    background-position: 50px center;
  }
  100% {
    background-position: 13px center;
  }
}


/* landing china school*/
.presentation-slide {
  padding-bottom: 200px;
  margin-top: -29px;
}

.landing-banner .paints-breadcrumb {
  padding-top: 20px;
  margin-top: 0px;
}

.inset-white .presentation-slide h1 {
  color: #333333;
  font-size: 54px;
  text-transform: inherit;
  padding-top: 40px;
}

.presentation-slide p {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
}

.order-call-back {
  background: #cc1237 !important;
  font-weight: 600 !important;
}

.soc-head .landing-banner {
  margin-top: 179px;
  background: #fff url(../img/main-landing-img.jpeg) no-repeat center top;
  background-size: cover;

}

.for-whom {
  margin-top: -120px;
  margin-bottom: 70px;
}

.for-whom p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-top: 20px;
}

.for-whom-block {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 68.46%);
  border-radius: 10px;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

.ls-content p {
  font-size: 18px;
  line-height: 24px;
  color: #555555;
}

.ls-content h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 32px;
  line-height: 28px;
  /* identical to box height, or 87% */


  color: #333333;
}

.ls-content h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */


  color: #333333;
}

.what-you-get {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 40px;
}

.what-you-get p {
  padding-left: 20px;
  padding-top: 20px;
}

.chart-img {
  text-align: center;
  padding-top: 20px;
}


.chart-img img {

  max-width: 733px;
  width: 100%;
}

.chart-img span {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #555555;
  font-size: 16px;
}

.red-dotted-list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  background: url(../img/r-d-c.svg) no-repeat 20px 6px ;
  padding-left: 50px;

  color: #555555;
}

.portfolio-for-education img {
  width: 100%;
  border: 1px solid #E0E0E0;
}

.title-f-e {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-transform: uppercase;

  color: #333333;
}

.img-f-e {
  display: block;
}

.portfolio-for-education p {
  font-size: 18px;
  line-height: 24px;
  /* or 133% */


  color: #555555;
}

.portfolio-for-education h4 {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-weight: bold;

  color: #333333;
}

.portfolio-for-education li {
  color: #CC1237;
  font-size: 40px;
}

.what-did {

}

.what-did p {
  background: url(../img/r-d-l.svg) no-repeat 8px 6px ;
  padding-left: 24px;
  font-size: 16px;
}

.more-btn .red-btn {
  color: #CC1237;
  background: #fff!important;
  border: 1px solid #CC1237;
}

.tools-content {
  font-size: 18px;
  line-height: 24px;
  /* or 133% */


  color: #555555;
}

.title-t-c {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  color: #555;
  padding-bottom: 10px;
  padding-top: 10px;
}

.title-t-c .red-color {
  color: #CC1237;
}

.tools-content p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;


  color: #555555;
}

.tools-content p.img-logo {
  position: relative;
  padding-left: 90px;
}

.tools-content p.img-logo img {
  position: absolute;
  left: 10px;
  top: 5px;
}

.tools-content p.img-logo:after {
  content: '';
  display: block;
  clear: both;
}

.question-block {
  border-bottom: 1px solid #EEEEEE;
}

.accordion-container-item {
  display: none;
}

.accordion-section {
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-right: 40px;
}

.accordion-section:after {
  position: absolute;
  content: '';
  display: block;
  right: 10px;
  top: 22px;
  background: #EAEAEA url(../img/close-faq.svg) no-repeat center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.accordion-section.active:after {
  transform: rotate(45deg);
  transition: all 0.2s ease-in;
  background: #FAE7EB url(../img/close-faq.svg) no-repeat center;

}

.accordion-section:hover:after {
  background: #FAE7EB url(../img/close-faq.svg) no-repeat center;


}

.accordion-section p {
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  font-weight: bold;
  color: #555555;
}


.accordion-container-item p {
  font-size: 18px;
  line-height: 24px;
  /* or 133% */


  color: #555555;
}












