.horeca .landing-banner {
  margin-top: 179px;
  background: url(../img/main-img-horeca.jpeg) center top/cover no-repeat #fff;
}

.horeca .breadcrumb-item a {
  color: #fff;
}

.horeca .slide-three h1, .horeca .slide-three p {
  color: #fff;
}

.right-links .horeca i {
  display: block;
  background: url(../img/horeca.svg) center/27px no-repeat;
  width: 95px;
  height: 95px;
  background-size: 61%;
}

.right-links .real-estat i {
  display: block;
  background: url(../img/real-estat.svg) center/27px no-repeat;
  width: 95px;
  height: 95px;
  background-size: 61%;
}

.right-links .students i {
  display: block;
  background: url(../img/students.svg) center/27px no-repeat;
  width: 95px;
  height: 95px;
  background-size: 61%;
}

.right-links .tourists i {
  display: block;
  background: url(../img/tourists.svg) center/27px no-repeat;
  width: 95px;
  height: 95px;
  background-size: 61%;
}

.china-people {
  background: url(../img/china-people.svg) center no-repeat;
  width: 48px;
  height: 48px;
  left: 15px;
  top: 15px;
  position: absolute;
}