.img-seo img {
  width: 100%;
}

span.comment-under-img {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  display: block;
  font-style: italic;
}

.red-dots li {
  color: #CC1237;
  font-size: 25px;
}

.red-dots p {
  color: #555555;
  font-size: 18px;
}

.border-r-g {
  border-right: 1px solid #D3D3D3;
}

.icon-seo-1 {
  background: url(../img/seo-icon-1.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 25px;
  top: 20px;
}

.icon-seo-2 {
  background: url(../img/seo-icon-3.svg) no-repeat center;
  width: 32px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-2 {
  background: url(../img/seo-icon-3.svg) no-repeat center;
  width: 32px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-3 {
  background: url(../img/seo-icon-5.svg) no-repeat center;
  width: 32px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-4 {
  background: url(../img/seo-icon-7.svg) no-repeat center;
  width: 38px;
  height: 41px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-5 {
  background: url(../img/seo-icon-2.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-6 {
  background: url(../img/seo-icon-4.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-7 {
  background: url(../img/seo-icon-6.svg) no-repeat center;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.icon-seo-8 {
  background: url(../img/seo-icon-8.svg) no-repeat center;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.i-l-seo {
  padding-top: 20px;
  padding-left: 85px;
  margin-bottom: 5px;
}

.icon-logo-1 {
  background: url(../img/seo-logo-1.svg) no-repeat 20px 25px;
}

.icon-logo-2 {
  background: url(../img/seo-logo-2.svg) no-repeat 20px 20px;
}

.icon-logo-3 {
  background: url(../img/seo-logo-3.svg) no-repeat 20px 20px;
}

.icon-logo-4 {
  background: url(../img/seo-logo-4.svg) no-repeat 20px 20px;
}

.icon-logo-5 {
  background: url(../img/seo-logo-5.svg) no-repeat 30px 20px;
}

.icon-logo-6 {
  background: url(../img/seo-logo-6.svg) no-repeat 5px 22px;
}

.icon-logo-7 {
  background: url(../img/seo-logo-7.svg) no-repeat 30px 20px;
}

.icon-logo-8 {
  background: url(../img/seo-logo-8.svg) no-repeat 20px 20px;
}

.seo-head {
  background-image: url(../img/seo-img.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 60px;
}







