<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Useful meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <title>Asia Pacific</title>
    <meta name="description" content="Комплексные решения для популяризации Вашего бренда в Китае.
Разработка сайтов и мобильных приложений, seo и smm инструменты, atl/btl маркетинг
">
    <meta name="keywords" content="">
    <meta property="og:title" content="Продвижение в Китае">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:url" content="http://as-pacific.com/" />
    <meta property="og:image" content="/assets/img/og-img.jpg" />
    <%- include('assets/templates/fonts.html') -%>
    <script src="/assets/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<!-- Main container -->
<div class="top-pr-line">
    <a href="[[~188]]">
        <img src="assets/img/b-text.svg" alt="" class="desk">
        <img src="assets/img/b-text-mobile.svg" alt="" class="mob">
    </a>
</div>

<div id="wrapper">
     <div class="main-block section home-page" id="section1">
        <div class="slide-three">
            <div class="menu-top-block" id="menu-top">
                <div class="container">
                    <div class="menu" >
                        <div class="bg-language-box"></div>
                        <div class="language-box">
                            <div class="array-w"></div>
                            <ul class="lang-block">
                                <li class="eng active"><a href="">ENG</a></li>
                                <li class="rus "><a href="">RUS</a></li>

                            </ul>
                        </div>
                        <div class="navy">
                            <div class="bg-menu"></div>
                            <div class="hamburger">
                                <div class="l1"></div>
                                <div class="l2"></div>
                                <div class="l3"></div>
                            </div>
                            <div class="window-menu">
                                <div class="nav-item services-extra-menu">
                                    <a href="" class="nav-link" href="">Услуги</a>
                                    <div class="menu-container">
                                        <div class="category-block">
                                            <i class="dev-icon"></i>
                                            <span>Разработка</span>
                                            <div class="menu-container-item">
                                                <div class="link-block">
                                                    <a href="">Тестовая ссылка</a>
                                                </div>
                                                <div class="link-block">
                                                    <a href="">Тестовая ссылка</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-block">
                                            <i class="smm-icon"></i>
                                            <span>SMM</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="wechat-pay-icon"></i>
                                            <span>Подключение WECHAT PAY и продажи через WECHAT</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="star-icon-menu"></i>
                                            <span>Продвижение в BAIDU</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="tourism-menu"></i>
                                            <span>Туристы из китая</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="atl-menu"></i>
                                            <span>ATL/BTL</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="mice-2-menu"></i>
                                            <span>MICE</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="shopping-cart-2-menu"></i>
                                            <span>E-Commerce</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="language-menu"></i>
                                            <span>Переводы</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="support-menu"></i>
                                            <span>Консалтинг</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="laptop-menu"></i>
                                            <span>Блокчейн проекты и каудфандинг</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="star-icon-menu"></i>
                                            <span>Имиджевые PR кампании в Китае</span>

                                        </div>
                                        <div class="category-block">
                                            <i class="mini-program-we-chat-menu"></i>
                                            <span>Мини-программы в WECHAT</span>

                                        </div>
                                    </div>
                                </div>НАШИ КЕЙСЫ
                                <div class="nav-item"><a href="" class="nav-link" href="">О нас</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Кейсы</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Блог</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Контакты</a></div>
                            </div>
                        </div>

                        <div class="phone_tel">
                            <a href="tel:+74956416118" class="phone">
                                +7 (495) 641 61 18
                            </a>
                            <span class="line-header">|</span>
                            <a href="" class="telegramm">
                                @asia_pacific
                                <span> Задать вопрос в Telegram</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">

                <h1>комплексное продвижение в китае</h1>
                <p class="title-p">
                    Первое digital-агентство с китайским без акцента
                </p>
                <a href="#section6" class="btn btn-outline-primary our-portfolio" id="go-portfolio">Наши кейсы</a>
                <div class="link-block-head">
                    <div class="cv">
                        <a href="">
                            Как выходить на интернет-рынок Китая при минимальном бюджете
                        </a>
                    </div>
                    <div class="blog-link">
                        <a href="">
                            Читайте наш блог
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>

     <%- include('assets/templates/second-slide.html') -%>
   <%- include('assets/templates/third-slide.html') -%>
   <%- include('assets/templates/fourth-slide.html') -%>
   <%- include('assets/templates/fifth-slide.html') -%>

    <div class="container reviews">
        <section class="reviews-block">
            <section class="row">
                <section class="col-md-4 avatar-block">
                    <section class="overflow-block">
                        <section class="img-a-b">
                            <img src="assets/img/renata.jpg" alt="">
                        </section>
                        <section class="name-a-b">
                        <span>
                            Рената Юнусова
                        </span>
                            <a href="https://www.facebook.com/iunra " class="facebook-a-b"></a>
                        </section>
                        <section class="text-avatar-block">
                            <p>
                                Маркетинг-менеджер <br>
                                Отель “Воздушный Экспресс” <br>
                                Аэропорт Шереметьево <br>

                            </p>
                        </section>
                    </section>
                </section>
                <section class="col-md-8 ">
                    <section class="comment-block">
                        <p>Команда - супер! Приятные люди, отзывчивые, всегда помогают по всем вопросам, даже если напрямую задачи их не касаются. Доходчиво и простым языком объясняют все детали и нюансы, на связь выходят 24/7. Посоветовали и других подрядчиков по иным вопросам. Повторюсь, работать было крайне приятно и легко! Вся отчетность прозрачная, все договоренности исполнянлись оперативно и качественно!
                        </p>
                    </section>

                </section>
            </section>
        </section>
    </div>
   <%- include('assets/templates/sixth-slide.html') -%>

    <div class="section gray fp-auto-height" id="section7">


        <div class="container width-100-pr">
            <div class="row">
                <div class="col-lg-9 col-xl-7 form-and-contacts">
                    <div class="block-form">
                        <h3>Расскажите о вашем Проекте</h3>
                        <div class="result"></div>
                        <form action="" id="form">
                            <div class="form-group">
                                <input name="name" placeholder="Имя" data-validation="length" data-validation-length="min2" data-validation-error-msg="Слишком короткое имя! Нужно от 2-х символов!" class="required">
                            </div>
                            <div class="form-group">
                                <input name="email" placeholder="Email" data-validation="email" data-validation-error-msg="Введите верный Email!" class="required">
                            </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Описание проекта. Детализация задачи поможет нам подготовить конструктивный ответ в кратчайшие сроки" data-validation="length" data-validation-length="min10" data-validation-error-msg="Сообщение должно быть длинее 10 символов!" ></textarea>
                            </div>
                            <div class="btn-block-footer">
                                <input class="btn btn-primary send-bln" type="button" value="Отправить">
                            </div>
                        </form>
                    </div>
                    <div class="red-line-contacts">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="block-contacts-footer">
                                    <h3>Россия</h3>
                                    <p>101000, г. Москва, ул. Мясницкая, 42/2</p>
                                    <p>Тел.:<a href="tel:+74956416118">
                                        +7 (495) 641 61 18</a>
                                    </p>
                                    <p>
                                        <a href="mailto:info@as-pacific.com">
                                            info@as-pacific.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="block-contacts-footer china-block">
                                    <h3>Китай</h3>
                                    <p>111, Fengpu Ave, Fengxian District, Shanghai</p>
                                    <p>
                                        Тел.: <a href="+8613764377097">+86 (137) 6437 7097</a>
                                    </p>
                                    <p>
                                        <a href="mailto:info@as-pacific.com">info@as-pacific.com</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer top-block-f">
            <div class="container pt-4 pb-3">
                <div class="row">
                    <div class="col-md-3 line-left-gray pr-4  pb-3">
                        <h5>О нас</h5>
                        <p>Команда Asia Pacific оказывает услуги комплексного маркетинга и интернет-продвижения брендов в Китае.</p>
                        <a href="" class=" btn welcome mb-4 mt-4">
                            Давайте знакомиться
                        </a>
                        <a href="" class="link-text-footer">Версия на английском языке</a>
                        <a href="" class="link-text-footer">Версия на китайском языке</a>
                    </div>
                    <div class="col-md-6 line-left-gray pl-4 pl-md-5 pr-md-4 pr-0  pb-5">
                        <h5 class="pt-md-0 pt-4">Что делаем:</h5>
                        <div class="row ">
                            <div class="col-lg-5">
                                <h6>Разработка</h6>
                                <a href="" class="white-text-link">создание сайтов</a>
                                <a href="" class="white-text-link">мобильные приложения</a>
                                <a href="" class="white-text-link">ICP лицензия</a>
                                <a href="" class="white-text-link">хостинг в Китае</a>
                                <h6 class="pt-4">SMM</h6>
                                <a href="" class="white-text-link">WeChat</a>
                                <a href="" class="white-text-link">Weibo</a>
                                <a href="" class="white-text-link">Douyin</a>

                            </div>
                            <div class="col-lg-7">
                                <h6 class="pt-lg-0 pt-4">Продвижение в Baidu</h6>
                                <a href="" class="white-text-link">контекстная реклама</a>
                                <a href="" class="white-text-link">SEO продвижение</a>
                                <h6 class="pt-4">Туристы из Китая</h6>
                                <a href="" class="white-text-link">подготовка инфраструктуры и привлечение туристов из Китая</a>
                                <h6 class="pt-4">Мини-программы в WeChat</h6>
                                <a href="" class="white-text-link">разработка, дизайн и продвижение </a>
                                <a href="" class="white-text-link">подключение WeChat Pay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  pl-4 pl-md-5 pb-5">
                        <h5>Контакты</h5>
                        <p class="text-p phone-f">
                            <a href="">+7 (495) 641 61 18</a>
                        </p>
                        <p class="text-p email-f">
                            <a href="">info@as-pacific.com</a>
                        </p>
                        <p class="text-p telegram">
                            <a href="">@asia_pacific</a>
                        </p>
                        <p class="text-p work-time">
                            График работы: 9.00-19.00
                        </p>
                        <p class="description-footer">
                            Мы обрабатываем Ваши заявки ежедневно в течение 24 часов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer  bottom-block-f">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 copy text-center text-lg-left">
                        <p>
                            © 2018-2020 digital-агентство Asia Pacific, ОГРН 1185053005950, ИНН 5001119093
                        </p>


                    </div>
                    <div class="col-lg-4 pb-4 pt-3 pb-lg-0 pt-lg-0 col-12 text-center text-lg-right footer-logo">
                        <img src="/assets/img/footer-logo.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
        </div>
    </div>

    <section class="vertical-center-4 slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>






</div>
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).on('ready', function() {
        $(".vertical-center-4").slick({
            dots: true,
            vertical: true,
            centerMode: true,
            slidesToShow: 4,
            slidesToScroll: 2
        });
    };
</script>

</body>
</html>
